A sua reserva para a propriedade <%= @reservation.property.name %> foi aceita.
A reserva está programada para <b><%= @reservation.checkin_date %></b> até <b><%= @reservation.checkout_date %></b>

Arrume suas malas \o/


<h4>
  <a href="http://localhost:4200">OneBnb</a>
</h4>
