A sua reserva para a propriedade <%= @reservation.property.name %> foi recusada.
Mas não desista, faça uma nova busca e tente novamente <a href="htpp://localhost:3000">Clicando Aqui</a>.

<h4>
  <a href="http://localhost:4200">OneBnb</a>
</h4>
